/.venv/
*__pycache__/
/Data/*/Places.csv
/Data/*/Routes.json
/Sources/*.json
/Sources/*.osm.pbf
/Output/*/*
!/Output/*/Solutions.csv
/Output/Elevation.csv
/Essay/MonopolyRun-*
*.toc
*.aux*
*.pdf
*.log
*.bbl
*.bcf
*.blg
*.xml
*.fls
*.fdb_latexmk
